<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pictionis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PictIonis">
        <activity
            android:name=".Message"
            android:exported="false" />
        <activity
            android:name=".Draw2"
            android:exported="true" />
        <activity
            android:name=".JoinRoom"
            android:exported="true" />
        <activity
            android:name=".CreateRoom"
            android:exported="true" />
        <activity
            android:name=".Draw"
            android:exported="true" />
        <activity
            android:name=".user.Login"
            android:exported="true" />
        <activity
            android:name=".user.Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>